*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
}

.header {
    position: relative;
    margin: auto;
    display: block;
}

.hero {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.contactLinks {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
}

.contactLinks a {
    margin: 5px;
    color: white;
    font-size: 30px;
    text-decoration: none;
}

.project-preview {
    width: 100%;
    border: 1px solid black;
    margin-bottom: 10px;
}

.footer {
    text-align: center;
    margin-bottom: 100px;
}

.footer-links a {
    margin: 5px;
    font-size: 30px;
    text-decoration: none;
    color: #333;
}

a:hover, .footer-links a:hover {
    color: #4fc08d;
}

.wrapper {
    margin: auto;
    max-width: 800px;
}

.content {
    margin: 20px;
    max-width: 800px;
}

.name-title {
    background: rgba(0, 0, 0, .65);
    color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -42px;
    left: 10%;
    padding: 20px;
}

.name {
    font-size: 2em;
    margin: 0;
}

.title {
    margin: 0;
}

article {
    padding: 10px 0 40px 0;
    width: 100%;
    border-bottom: 1px solid darkgrey;
}

article h1 {
    font-size: 1.5em;
}

article h2 {
    font-size: 1.25em;
}

pre {
    overflow-x: scroll;
    background: #333;
    color: #66afa4;
    padding: 15px;
    border-radius: 3px;
    margin: auto;
}

@media (max-width:700px) {
    .hero {
        padding-top: 98px;
    }
    .name-title {
        background: black;
    }
    .contactLinks {
        display: none;
    }
    .name-title {
        position: absolute;
        top: 43px;
        left: 0;
        width: 100%;
    }
}